.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.4rem 4.8rem;

	&__logo {
		width: 50px;
	}

	&__nav {
		display: flex;
		gap: 4.6rem;

		& li {
			list-style: none;
			& a {
				font-size: 3rem;
			}
		}
	}
}
