$hero-themes: (
	turquoise: $turquoise,
	orange: $orange,
);

@each $name, $color in $hero-themes {
	.hero--#{$name},
	.header--#{$name} {
		.header__logo {
			@if $name == orange {
				filter: invert(81%)
					sepia(53%)
					saturate(0%)
					hue-rotate(226deg)
					brightness(114%)
					contrast(100%);
			}
		}

		.header__nav li a {
			color: if($name == orange, #fff, initial);
		}
	}

	.hero--#{$name} {
		.hero__headline {
			color: if($name == orange, #fff, initial);
		}

		.hero__logo {
			@if $name == orange {
				filter: invert(51%)
					sepia(97%)
					saturate(386%)
					hue-rotate(351deg)
					brightness(91%)
					contrast(84%);
			}
		}

		.btn {
			background: $color;
			color: #fff;
		}
	}
}
